@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font: 'Red Hat Display', sans-serif;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --Desaturated-blue: hsl(224, 23%, 55%);
}

ul {
  list-style: none;
}
img {
  object-fit: fill;
  width: 100%;
}

.container {
  min-height: 100vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  background-size: contain;
  display: grid;
  place-items: center;
}

.card {
  max-width: 22rem;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font);
}
.img-container {
  margin-bottom: 1.5rem;
}
.img-container img {
  border-radius: 15px 15px 0 0;
}
.card-info {
  padding: 0 2.5rem;
}
.card-info h1 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card-info p {
  margin-bottom: 1.5rem;
  color: #2d2e33;
  padding: 0 0.65rem;
}
ul {
  display: flex;
  background-color: #e5e7ed80;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
/* li:first-child {
  margin-right: 0;
} */

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side span {
  display: inline-block;
}
.music-icon {
  margin-right: 1rem;
}
.plan-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bold {
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 5px;
}
span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: #bebebe;
}
a:link {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
}
.btn-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}
.process-btn {
  padding: 0.6rem 0;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: bold;
  transition: all 0.45s ease-in-out;
}
.process-btn:active {
  background-color: #ccccff;
}
.cancel-btn {
  border: none;
  background-color: transparent;
  margin-bottom: 1.5rem;
  color: #6f6f6f;
  font-weight: 500;
}
